/.idea
/node_modules
/public/hot
/public/storage
/public/images/vendor
/public/vendor
/storage/framework/views
/storage/*.key
/vendor
/nbproject
.env
.phpunit.result.cache
.editorconfig
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
